<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  	<h1>Ваше объявление</h1>
  	<h2><%= @estate.title %></h2>
  	<p><%= @estate.contact_telefhone %></p>
  </body>
</html>