<header class="header">
	<ul class="header-left">
		<li><a href="#">Купить квартиру</a></li>
		<li><a href="#">Снять квартиру</a></li>
		<li><a href="#">Снять комнату</a></li>
		<li><a href="#">Другое</a></li>
	</ul>
	<ul class="header-right">
		<li><a href="#">Избранное</a></li>
		<li><a href="#">Регистрация</a></li>
</header><!-- .header--> 
